/*.bu{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: chocolate;
    padding: 15px;
}

.bu div{
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#display{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: right;
    background-color: white;
}

button{
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; 
    background-color: beige; 
}

body{
    background-color: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
}


*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.cal-container {
    border: 2px solid black;
    background-color: rgb(52, 49, 49);
    height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 30px;
    padding: 20px;
}

.display {
    margin-top: 15px;
    height: 100px;
    width: 350px;
    background-color: rgb(138, 134, 134);
    border-radius: 30px;
    font-size: xx-large;
    color: white;

}

.nums {
    padding-top: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    height: 450px;
    width: 350px;
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;
    justify-content: space-around;
    gap: 20px;
    background-color: rgb(112, 92, 81);
    border-radius: 30px;
}

.nums button {
    border-radius: 50%;
    border: none;
    padding: 15px;
    background-color: rgb(189, 188, 187);
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

#display {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid black;
    font-size: 30px;
    text-align: right;
    background-color: white;
}