body{
    margin: 0;

}
.signup {
    padding: 150px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap:10px;
    border-radius: 50px;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.signup-con{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.btn{
    justify-content: center;
    display: flex;
}

.header-cont{
    display: flex;
    background-color: black;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.head-items{
     display: flex;
     color: white;
     gap: 25px;
     list-style: none;
     
}
.head-items a{
  text-decoration: none;
  color: white;
  transition: 5s;
}
.head-items a:hover{
    letter-spacing: 0;
    color: white;
}
.logo-image{
    height: 110px;
    width: 110px;
    object-fit: contain;
}

.head-cont{
    display: flex;
    align-items: center;
}
.log-cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
}
.log{
    padding: 150px;
    height: 20px;
    width: 80px;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 50px;
    justify-content: center;
    align-content: center ;
    gap: 10px;
    border-radius: 50px;
    background-color: white;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.btn1{
    padding: 10px 25px 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: large;
    border-radius: 15px;
}

.main-section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box{

    background-image: url("https://img.freepik.com/premium-photo/2019-f1-car-blue-racing-car-black-background_899449-241843.jpg?w=360");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
     height: 250px;
    width: 250px;
    padding: 20px;
    margin: 20px;
}
/*
.box:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRseoeIOsY0L6p43Mk-xAVsFfY2OluVJJ4-ug&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment:fixed ;
    height: 250px;
    width: 250px;
    padding: 20px;
    margin: 20px;
}


.box1{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap:10px;
}
*/
body{
        margin: 0;
        padding: 0;

        
    }

    .vi-bg{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left:0;
        object-fit: cover;
        z-index:-1;
    }

    .content{
        font-size: x-large;
        font-weight: bold;
        color: white;
        z-index: 20;
    }


    .footer-cont{
        height: 10vh;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        position:fixed;
        bottom: 0;
        height:20px;
        width: 100%;
    }