body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.login-box {
    height: 500px;
    width: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.signup-box {
    height: 120px;
    width: 300px;
    border: 3px solid black;

}

.hh3 {
    font-family: "Grand Hotel", cursive;
    
    font-style: normal;
    font-size: 50px;
}

.login-box input {
    margin: 5px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

.btn {
    margin: 5px;
    height: 40px;
    width: 260px;
    border-radius: 15px;
    background-color: rgb(168, 138, 229);

}